/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.bodyContainer {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #00BACC;
}

body {
  font-family: Arial, sans-serif;
  background-color: #00BACC;
  color: #ffffff;
  margin: 0;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D90E63;
  text-align: center;
  padding: 20px;
}

header img {
  width: 100px;
  padding-right: 10px;
}

header h1 {
  font-size: 48px;
  margin: 0;
}

/* Navigation */
nav {
  background-color: #D90E63;
  text-align: center;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
}

/* Main sections */
section {
  background-color: #00BACC;
  color: #ffffff;
  padding: 20px 50px;
}

section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

section p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}


.photo-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.photo-container {
  margin: 5px;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.photo-container:hover img {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.MusicAndTourDates{
  justify-content: center;
  text-align: center;
  margin: 25px;
}



.linktree-button {
  display: inline-block;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #d90e63;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.linktree-button:hover {
  background-color: #c30753;
}

.press-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
}

.press-kit-button {
  background-color: #00abbb;
  border: 5px solid #d90e63;
  margin-left: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.press-kit-button:hover {
  background-color: #d90e63;
  color: #fff;
}

#container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 0;
}

.box {
  flex-basis: calc(33.33% - 20px);
  height: auto;
  margin: 20px;
  padding: 10px;
  background-color: #d90e63;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.box p {
  margin: 5px;
}

.box a {
  margin-top: auto;
  color: white;
}

.box a:hover {
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 900px) {
  #container {
    flex-direction: column;
    align-items: left;
    width: 95%
  }

  .box {
    padding: 1em;
    flex-basis: auto;
  }
}

#videos {
  margin: 20px;
}

.video-section {
  background-color: #00BACC;
  color: white;
  padding: 60px 0;
}

.video-container {
  display: flex;
  justify-content: center;
}

.video {
  margin: 0 5px;
  width: 50%;
}

.video iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 250px;
}



/* Footer */
footer {
  background-color: #D90E63;
  text-align: center;
  padding: 20px;
}

footer p {
  font-size: 14px;
  margin: 0;
}
