/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.bodyContainer {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #00BACC;
}

body {
  font-family: Arial, sans-serif;
  background-color: #00BACC;
  color: #ffffff;
  margin: 0;
}

/* Header */
header {
  position: sticky;
  top: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D90E63;
  border-radius: 0 0 15px 15px;
  border: 1px solid black;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header img {
  width: 100px;
  padding-right: 20px;
}

header h1 {
  font-size: 48px;
  margin: 0;
}


.navbar {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  background-color: #D90E63;
}

/* Style the links */
li {
  float: left;
}

/* Change the link color on hover */
li a:hover {
  background-color: #00BACC;
}

/* Style the links */
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
}



/* Main sections */
section {
  background-color: #00BACC;
  color: #ffffff;
  padding: 20px 50px;
}

section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

section p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}


.photo-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.photo-container {
  margin: 5px;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer; /* add cursor pointer to indicate clickable image */
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

.close {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}


.link_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 25px;
}

.MusicAndTourDates{
  justify-content: center;
  text-align: center;
  margin: 25px;
}


.linktree-button {
  display: inline-block;
  padding: 20px 40px;
  margin: 20px 0 0 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #d90e63;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.linktree-button:hover {
  background-color: #c30753;
}

.Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 25px;
}

.Contact h2 {
  margin-bottom: 20px;
}


.social-media-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-decoration: none;
}

.social-media-links a {
  margin: 16px 10px;
  font-size: 60px;
  color: white;
  border-radius: 50%;
  border: 1px solid white;
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.social-media-links i {
  color: white;
}

.contact-button {
  display: inline-block;
  margin: 40px 0 0 0;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #d90e63;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact-button:hover {
  background-color: #c30753;
}

@media screen and (max-width: 900px) {
  .link_container {
    flex-direction: column;
    align-items: center;
    width: 95%
  }
}

.press-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
}

.press-kit-button {
  background-color: #00abbb;
  border: 5px solid #d90e63;
  margin-left: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.press-kit-button:hover {
  background-color: #d90e63;
  color: #fff;
}

#container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 0;
}

.box {
  flex-basis: calc(33.33% - 20px);
  height: auto;
  margin: 20px 20px 0 20px;
  background-color: #d90e63;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.box p {
  margin: 5px;
  padding: 10px 10px 0 10px;
}


.box a {
  margin-top: auto;
  color: white;
  background-color: #00BACC;
  width: 100%;
  border-radius: 0 0 15px 15px;
  text-align: center;
  padding: 10px;
}

.box a:hover {
  color: rgb(0, 0, 0);
}

.year {
  top: 0;
}

@media screen and (max-width: 900px) {
  #container {
    flex-direction: column;
    align-items: left;
    width: 95%
  }

  .box {
    margin: 20px 20px 20px 20px;
    flex-basis: auto;
  }

  .box p {
    margin: 5px;
    padding: 10px 10px 0 10px;
  }

  .box a {
    margin-top: auto;
    color: white;
    background-color: #00BACC;
    width: 100%;
    border-radius: 0 0 15px 15px;
    text-align: center;
    padding: 10px;
  }
}

#videos {
  margin: 20px;
}

.video-section {
  background-color: #00BACC;
  color: white;
  padding: 60px 0;
}

.video-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.video {
  margin: 10px;
  width: 45%;
  min-width: 400px;
}

.video iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 250px;
  border-radius: 15px;
}




/* Footer */
footer {
  background-color: #D90E63;
  text-align: center;
  padding: 20px;
}

footer p {
  font-size: 14px;
  margin: 0;
}
